@tailwind base;
@tailwind components;
@tailwind utilities;

.np {
    background: rgba(29, 33, 35, 0.3);
    backdrop-filter: blur(15px);
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.slider {
    -webkit-appearance: none;
    background-image: linear-gradient(#FACD66, #FACD66);
    background-repeat: no-repeat;
}

.slider::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 8px;
    height: 8px; 
    background-color: #FACD66;
    border-radius: 50%;
    cursor: pointer;
    border: 0.5 solid white;
}
.tomorrow, .radio{
    background-image: linear-gradient(to bottom, transparent, black), url('Lead-image.svg');
    background-repeat: no-repeat;
    background-position: 0% 60%;
    background-size: cover;
    background-color: #1D2123;
    background-blend-mode: overlay;
}
